<!DOCTYPE html>
<html>
  <head>
    <title>StudyRecall</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "style", media: "all" %>
    <% if controller_name == "studies" && action_name == "new" %>
      <%= stylesheet_link_tag "new", media: "all" %>
    <% end %>
    <% if controller_name == "studies" && action_name == "show" %>
      <%= stylesheet_link_tag "show", media: "all" %>
    <% end %>
    <% if controller_name == "studies" && action_name == "edit" %>
      <%= stylesheet_link_tag "edit", media: "all" %>
    <% end %>
    <%= javascript_importmap_tags %>
    
  </head>

  <body>
    <% if flash[:notice] %>
      <div class="flash flash-notice">
        <%= flash[:notice] %>
      </div>
    <% end %>
    <% if flash[:alert] %>
      <div class="flash flash-alert">
        <%= flash[:alert] %>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
